C#/.vs/
Java/.idea/workspace.xml
Java/.idea/$PRODUCT_WORKSPACE_FILE$
C#/Daily Coding Problem 1/obj/
Java/out/
C#/Daily Coding Problem 1/bin/
C#/Daily Coding Problem 2/bin/
C#/Daily Coding Problem 2/obj/Daily Coding Problem 2.csproj.nuget.dgspec.json
C#/Daily Coding Problem 2/obj/
